source https://www.nuget.org/api/v2
strategy: min
storage: none
framework: >= net40, >= netstandard2.0, >= net5.0
nuget FSharp.Core

nuget NativeLibraryLoader
group Build
	storage: none
	source https://www.nuget.org/api/v2
	nuget portmidi.redist
	nuget Microsoft.SourceLink.GitLab

group Demos
    framework: net472, netstandard2.0, netcoreapp2.0
    source ../fsnative/build/Debug/AnyCpu/
    source https://www.nuget.org/api/v2
    generate_load_scripts: on    
    nuget fsnative